.popup {  
    position: fixed;  
    width: 80%;  
    height: 80%;  
    top: 120px;  
    left: 0;   
    bottom: 0;  
    right: 0;
    margin: auto; 
    border-radius: 25px; 
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.13);
    padding: 15px;
    overflow: scroll;
} 