@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
	line-height: 1;
	
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

.input_style  {
	min-width: 50%;
	margin: 10px;
	height: 30px;
	margin-top: 28px;
}