:root {
    --main_color: #62aade
}
.bg-custom {background-color: whitesmoke;}

.home {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #287fbd, #eaf4fb, #287fbd);
}

body.body-custom {
    background-color: var(--main_color);
}

.card {
    border-radius: 25px;
    overflow: hidden;
}

.card-header {
    height: 440px;
    outline: none;
    background-color: white;
    vertical-align: middle;
}