.about_card {
    width: 320px;
    height: 800px;
    margin: 10px; 
    border-radius: 25px !important;
    overflow: hidden;
}

.about_card:hover {
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.13);
}

.tools {
    width: 170px;
    height: 300px;
    margin: 10px;
    border-radius: 25px !important;
    align-items: center;
    overflow: hidden;
}

.tools:hover {
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.13);
}

.api {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 25px !important;
    align-items: center;
    overflow: hidden;
}

.api:hover {
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.13);
}

.toolPicContainer {
    height: 120px;
    display: flex;
    justify-content: center;
}

.toolpic {
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 120px;
    margin: auto;
}

.Link {
    color: black;
}

.Link:hover {
    color: black;
    text-decoration: none;   
}

.icons {
    width: 170px;
    height: 170px;
    border-radius: 25px !important;
    align-items: center;
    padding-top: 20px;
    margin: 10px
}

.icons:hover {
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.13);
}

.statBox {
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.statItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}