
.InstanceCard {
    width: 220px;
    max-width: 220px;
    height: 350px;
    align-items: center;
    margin: 3px;
  }
  
.InstanceCard:hover {
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.13);
}
  
.Link {
    color: black;
}

.Link:hover {
    color: black;
    text-decoration: none;   
}

.Instance {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center center;
}

.formItem {
    min-width: 120px !important;
    margin: 10px !important;
}

.input {
    min-width: 200px;
    margin: 20px;
    height: 30px;
    margin-top: 28px;
}

.compareButton {
    margin-top: 28px !important;
    height: 30px;
}

.algolia {
    width: 15%;
    height: 15%;
    margin: 20px;
    margin-top: 30px;
}

.info {
    text-align: left;
    margin-right: 50px;
}